<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CPM-program">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
    <link rel="shortcut icon" href="../img/hataraku.png">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <title>CPM-program</title>
    <style>
        main{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100vh;
}
    </style>
</head>
<body>
    <main>  
        <h1 class="page-title">Rubyクイズ①</h1>
        <div class="blackboard-box">
            <div class="quiz-text question" id="text_q"></div>
            <div class="chalk1"></div>
            <div class="chalk2"></div>
            </div>
        <div class="select-area">
            <h2 class="quiz-title">選択</h2>
            <div class="quiz-text select" id="text_s"></div>
        </div>
        <div class="answer-area">
            <h2 class="quiz-title">解答</h2>
            <div class="quiz-text" id="text_a"></div>
        </div>
    </main>
    <footer id="footer">
        <small>&copy; 2022 プチ論研究-伊藤理乃</small>
    </footer>
</body>
</html>
