<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ハタラクカタチプロジェクト">
    <meta name="keywords" content="ハタラクカタチプロジェクト,ハタラクカタチ,庄内地方,働き方">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/hataraku.png">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" type="text/css" href="../hataraku.css">
    <title>ハタラクカタチプロジェクト</title>
</head>
<body>
    <main>
        <section id="president_profile">
            <div class="profile-bg">
                <div class="president-item">
                    <div class="president-left">
                        <div class="president_title-box"><h3 class="president_profile_title">社長編 ＃01</h3></div>
                        <h4 class="president_proifile_name">楯の川酒造株式会社<br>佐藤 淳平さん</h4>
                        <p class="profile">　酒田市出身。東京農業大学応用生物科学部醸造科学科に在学中楯の川酒造の6代目蔵元・代表取締役に就任した。<br>
                        　最近の趣味は音楽やドラムの演奏。何事にも失敗を恐れず前向きに挑戦している。</p>
                    </div>
                    <img src="../img/tatenokawa7.JPG" alt="楯の川酒造社長 佐藤淳平さん">
                </div>
            </div>
    
            <div class="profile-bg-2">
                <div class="overview-item">
                    <div class="overview-title-box"><h3 class="overview-title">ー会社概要ー</h3></div>
                        <p class="overview">会社名：楯の川株式会社<br>業種：酒造業<br>創業：天保3年<br>所在地：酒田市楯字清水田<br>代表者：代表取締役社長 佐藤淳平</p>
                </div>
                    <img src="../img/tatenokawa8.jpg" alt="会社概要">
            </div>
        </section>
    </main>
        
    <article id="article">
        <div class="article-box">
        <h1 class="article_work">佐藤社長のワーク</h1>
        <h2 id="section-title"><span id="title1">事業内容</span></h2>
        <p class="article-work-text">基本は酒類の製造・販売になります。アイテムとしては、日本酒やリキュール、焼酎、マッコリなどを製造しています。それを国内外に販売するということをしています。</p>
        <h2 class="section-title"><span id="title2">純米大吟醸の生産</span></h2>
        <p class="article-work-text">今から10年ほど前、平成22酒造年度で切り替える前までは純米酒、本醸造、純米吟醸、大吟醸など色々な種類のお酒を作っていました。蔵のカラーを海外の方にも伝えるために、生産を純米大吟醸に絞りました。結果、蔵を代表する人気商品となり、お客さんからいい評価を受けています。</p>
        <h2 class="section-title"><span id="title3">従業員について</span></h2>
        <p class="article-work-text">皆さん元サラリーマンなどですね。半分くらいはお酒が好きでお酒に関わる仕事がしたいって入ってきた人。残りの人は家が近くて出勤しやすいとかなんじゃないかな。</p>
        <h2 class="section-title"><span id="title4">職場の雰囲気づくり</span></h2>
        <p class="article-work-text">私は社員の仕事に対して、基本的に口を挟むことはありません。社員の方々は働くにあたり、自分で考えて行動してくれます。「どうぞ、どうぞ。ご自由にやってください。会社はただの箱です。」という感じですね。</p>
        <h2 class="section-title"><span id="title5">食材のこだわり</span></h2>
        <p class="article-work-text">山形県産のものを使うというコンセプトなので、プロダクトに関しては地元の物にこだわっています。</p>
        <h2 class="section-title"><span id="title6">思い入れのある商品</span></h2>
        <p class="article-work-text">私が独断と偏見で商品開発して作っているのですが、精米歩合1%までこだわったお酒に関しては思い入れがありますね。</p>
        <h2 class="section-title"><span id="title7">プレッシャーを感じることは</span></h2>
        <p class="article-work-text">無いですね。事業継承したときは、売上3000万で社員が3人で借り入れが3億円ぐらいありましたけど、結局失うものは何もなかったので好きにできました。伝統があるという意識もなく自由気ままにやってきたという感じです。</p>
        <h2 class="section-title"><span id="title8">失敗してしまうことは</span></h2>                        
        <p class="article-work-text">失敗はいっぱいあります。成功の方が少ないです。私の考え方として、とりあえずやってきて、やらずに悩むよりはやってから考えようという感じで、全てにおいてとりあえず飛び込みます。</p>
        <h2 class="section-title"><span id="title9">学生におすすめのお酒</span></h2>   
        <p class="article-work-text">日本酒に限らず色々なお酒を飲んでいただいて、大人になってから日本酒を飲んでいただくのがいいと思います。無理に飲む必要はないと思います。</p>
        <h1 class="article_work">佐藤社長のライフ</span></h1>
        <h2 class="section-title"><span id="title10">学生時代について</span></h2>   
        <p class="article-work-text">バイトしかしてこなかったですね。大学3年生で名前だけ社長になって、できるだけ親に頼らないように自分で稼いでなんとかしようというのがあって、バイトをしていたというのもあります。</p> 
        <h2 class="section-title"><span id="title11">大学生に向けて</span></h2>  
        <p class="article-work-text">皆失敗することは怖いですよね。仮に失敗したと思うようなことでも、そのやり方がたまたま駄目だったと捉えればそれは失敗じゃなくて、次のステップになります。大学4年間は非常に大事だと思うので、大学生の時にしか出来ないことをやってほしいと思います。</p>
        <h2 class="section-title"><span id="title12">後悔しない生き方を</span></h2>  
        <p class="article-work-text">いつ死ぬか分からないですけど、生かされている時間を上手く使ったか使わないかの話であって、最後どう死ぬかというところだと思います。後悔無く満足して死ぬのか、あれやっとけば良かったと思って死ぬのかだったら私に￥は前者が良いなと思うので。</p> 
        </div>
    </article>
    
</body>
</html>